* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
}

hr {
    margin: 15px 0px 0px 0px;
    border-color: hsl(215, 20%, 45%);
    opacity: 0.4;
}

footer {
    display:flex;
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    width: 300px;
    margin: 100px auto 100px auto;
    border-radius: 30px;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    box-shadow: 0px 33px 5px 20px hsl(216, 60%, 9%);

}
.shadow-box {
    position: absolute;
    background-color: rgb(12, 24, 43);
    z-index: -1;
    width: 440px;
    height: 670px;
    left: -45px;
    top: -25px;
    border-radius: 10%;

}
.front-image {
    position: relative;
    border-radius: 5%;
    overflow: hidden;
    z-index: 2;
    opacity: 1;
    transition: 0.5s ease;
}
.eye-icon {
    position: absolute;
    left: 150px;
    top: 150px;
    opacity: 0;
    z-index: 3;
    transition: 0.5s ease;

}

.color-layout {
    position: absolute;
    background-color: hsl(178, 100%, 50%);
    width: 300px;
    height: 272px;
    border-radius: 6%;
    opacity: 1;
    z-index: 1;
    
}

.title {
    color: white;
    font-weight:bold;
    font-size: 130%;
    margin: 20px 1px 10px 1px;
    transition: 0.5s ease;
}

.offer {
    color: hsl(215, 21%, 53%);
    font-weight: bold;
    margin: 10px 0;
}

.elements-in-line {
    display: flex;
    margin: 10px 0;
    align-items: center;

}

.eth {
    color: hsl(178, 100%, 50%);
    font-size: 14px;
    font-weight: 900;
    padding: 5px;
}

.eth-img {
    margin-top: 5px;
}

.time-left, .clock-img {
    color: hsl(215, 21%, 53%);
    position: absolute;
}

.time-left {
    margin-left: 230px;
    font-weight: 900;
    font-size: 14px;
}

.clock-img {
    margin-left: 210px;
    font-size: 22px;
}

.avatar {
    border:  1px solid white;
    border-radius: 50%;
    margin: 17px 0 0 0;
    padding: 1px;
}

.author {
    color: hsl(215, 21%, 53%);
    font-weight: bold;
    font-size: 16px;
    margin: 22px 0 0 15px;
}

.author-name {
    color:white;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s ease;
}

.author-name:hover, .title:hover{
    color:hsl(178, 100%, 50%);
}

.attribution {
    color:white;
}

#front:hover + .eye-icon {
    opacity: 1;
}

#front:hover{
    opacity: 0.5;
}